.search-form {
    background-color: rgb(88, 66, 185);
    padding: 8px;
    text-align: center;
    margin-bottom: 15px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 0;
    margin: 0;
    max-width: calc(100vw - 80px);
    margin: 0 auto;
    margin-bottom: 30px;
}

.photo-card {
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 38%);
}

.photo-card img {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    box-shadow: rgba(25, 25, 25, .04) 0 0 1px 0, rgba(0, 0, 0, .1) 0 3px 4px 0;
}

input {
    border-radius: 4px;
}

button {
    padding: 5px 10px 5px 10px;
    border: 1px solid #999;
    border-radius: 4px;
}

input[type="text"] {
    padding: 5px 10px 5px 10px;
    border: 1px solid #999;
}

button[type="button"] {
    display: block;
    margin: 0 auto;
    background-color: rgb(103, 58, 209);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.button.is-hidden {
    display: none;
}

.button>.spinner.is-hidden {
    display: none;
}

.info {
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.info .info-item__link {
    margin-right: 15px;
    font-size: 14px;
}

.info-item.info-item__link:last-child {
    color: rgb(228, 27, 27);
}

.info-item__link p {
    text-align: center;
}