.search-form {
    background-color: rgb(88, 66, 185);
    padding: 8px;
    text-align: center;
}

input {
    border-radius: 4px;
}

button {
    padding: 5px 10px 5px 10px;
    border: 1px solid #999;
    border-radius: 4px;
}

input[type="text"] {
    padding: 5px 10px 5px 10px;
    border: 1px solid #999;
}

button[type="button"] {
    display: block;
    margin: 0 auto;
    background-color: rgb(103, 58, 209);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.button.is-hidden {
    display: none;
}

.button>.spinner.is-hidden {
    display: none;
}